body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 0;
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/*header*/

.header {
    width: 100%;
    max-width: 1920px;
    background: url('img/header/header.png')no-repeat;
    background-size: cover;
    height: 870px;
}

.header__logo {
    margin-top: 15px;
}

.logo__img {
    width: 259px;
    height: 79px;
}

.header__nav {
    padding-top: 50px;
}

.header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.nav__inner {
    display: inline-block;
    transition: background-color 0.3s linear;
    margin: 0 10px;
}

.nav__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 28.01px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s linear;
}

.nav__link:hover {
    color: #0b96f3;
}

.nav__inner:after {
    content: "";
    display: none;
    background-color: #0b96f3;
    height: 2px;
}

.nav__inner:hover:after {
    display: block;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 20px;
}

.contact__phone {
    font-family: 'Lato', sans-serif;
    color: #010101;
    font-size: 21px;
    font-weight: 700;
    line-height: 33.69px;
    letter-spacing: 0.1px;
    text-decoration: none;
}

.contact__us {
    color: #0b96f3;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 34.57px;
    text-decoration: underline;
    letter-spacing: 0.1px;
}

.contact__us:hover {
    color: #285e85;
}

.social {
    margin-top: 30px;
}

.social__item {
    text-decoration: none;
    margin-right: 4px;
}

.fa-whatsapp {
    color: rgb(19, 112, 19);
}

.fa-viber {
    color: rgb(87, 9, 87);
}


/*searchbox*/

.searchbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 35px;
}

.searchbox__title {
    color: #fffdfd;
    font-size: 36px;
    line-height: 50.6px;
    font-weight: 700;
}

.searchbox__title_black {
    color: #000000;
    font-weight: 700;
}

.searchbox__title_white {
    margin-left: 120px;
}

.login {
    display: flex;
    flex-wrap: wrap;
    width: 36%;
    background-color: #0b96f3;
    margin-left: 125px;
    margin-top: 30px;
}

.login__title {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    padding: 15px 30px;
}

.login__input-name {
    flex-basis: 100%;
    margin: 15px;
    padding: 10px;
}

.login__input {
    flex-basis: 100%;
    margin: 15px 20px;
    padding: 10px;
}

.login__btn {
    text-align: center;
    margin: 0 auto 20px;
    padding: 7px 12px;
    color: #0b96f3;
    font-size: 16px;
    font-weight: 500;
    line-height: 28.7px;
    letter-spacing: .3px;
    border: none;
}

.login__btn:hover {
    cursor: pointer;
    background-color: #074269;
    color: #fff;
}


/* company*/

.company__page {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

.company__title {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: 67.47px;
}

.company__title:after {
    content: "";
    display: block;
    height: 8px;
    width: 14%;
    margin: 0 auto;
    background-color: #0b96f3;
}

.company__subtitle {
    color: #3a3939;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.company-inner {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-inner__photo {
    display: flex;
    width: 40%;
    margin-top: 107px;
}

.company-inner__img {
    width: 348px;
    height: 515px;
    margin-right: 58px;
}

.company-inner__img:last-child {
    margin-right: 0px;
}

.company-inner__text {
    width: 40%;
    color: #3a3939;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}


/*services*/

.services__page {
    display: flex;
    justify-content: center;
    text-align: center;
}

.services__title {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    line-height: 67.47px;
}

.services__title:after {
    content: "";
    display: block;
    height: 8px;
    width: 14%;
    margin: 0 auto;
    background-color: #0b96f3;
}

.services__types {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.types__item {
    width: 40%;
    margin: 0px 40px 50px 0px;
}

.types__img {
    display: block;
    height: auto;
    max-width: 100%;
}

.types__title {
    color: #0b96f3;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.28px;
    margin-top: 10px
}

.types__text {
    color: #3a3939;
    font-weight: 400;
    line-height: 29.28px;
    min-height: 90px;
    margin-top: 5px;
}

.types__more {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.57px;
    background: #0b96f3;
    padding: 2px 30px 2px 5px;
    position: relative;
}

.types__more:hover {
    text-decoration: underline;
    background: #387097;
}

.fa-long-arrow-alt-right {
    position: absolute;
    top: 5px;
    left: 80px;
    right: 0;
    bottom: 0;
    margin: auto;
}


/*catalog*/

.catalog__page {
    background: url('img/catalog/catalog.png')no-repeat center;
    background-size: cover;
    width: 100%;
    max-width: 1929px;
    height: 600px;
    margin: 20px 0;
    position: relative;
}

.catalog__inner {
    color: #000000;
    font-size: 35px;
    font-weight: 300;
    line-height: 50px;
    padding: 130px 0 0 240px;
}

.catalog__inner_blue {
    color: #0b96f3;
    font-weight: 900;
}

.catalog__img {
    position: absolute;
    top: 50px;
    left: 0;
    right: 105px;
    bottom: 0;
    margin: auto;
    height: 483px;
    width: 450px;
}


/*request */

.request__page {
    margin-top: -250px;
    margin-left: 850px;
    background: #fff;
    width: 25%;
}

.log-in {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.log-in__title {
    color: #000;
    font-weight: 300;
    font-size: 25px;
    padding: 50px 30px 30px 30px;
}

.log-in__input {
    flex-basis: 100%;
    border-radius: 30px;
    border: none;
    padding: 20px 0px 20px 20px;
    margin: 0 40px 20px;
    background: rgb(247, 241, 241);
}

.log-in__input:hover {
    background: rgb(226, 219, 219);
    color: rgb(46, 41, 41);
}

.log-in__btn {
    width: 70%;
    margin: 0 auto;
    background: #0b96f3;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.2px;
    font-weight: bold;
    border: none;
    padding: 20px 35px;
    border-radius: 35px;
    text-align: center;
}

.log-in__btn:hover {
    cursor: pointer;
    background-color: #3c759b;
    color: #fff;
}

.login__text {
    color: #9e9d9d;
    font-size: 10px;
    margin: 20px 0 20px;
}

.login__text_blue {
    color: #0b96f3;
}

.login__text_blue:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*information*/

.information__page {
    margin: 100px 0;
    display: flex;
    text-align: center;
}

.information__title {
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    line-height: 67.47px;
}

.information__title:after {
    content: "";
    display: block;
    height: 8px;
    width: 10%;
    margin: 0 auto;
    background-color: #0b96f3;
}

.information__text {
    display: flex;
    flex-direction: column;
}

.text__item {
    display: flex;
    margin-top: 100px;
}

.text__photo {
    width: 20%;
}

.text__inner {
    width: 45%;
    color: black;
    text-align: left;
}

.text__img {
    width: 230px;
    height: 200px;
    border: 7px solid #0b96f3;
}

.text__title {
    color: #0b96f3;
    font-size: 25px;
    font-weight: bold;
    line-height: 32.75px;
}

.text__description {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
}

.text__more {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    background: #0b96f3;
    padding: 2px 30px 2px 5px;
    position: relative;
}

.text__more:hover {
    text-decoration: underline;
    background: #387097;
}

.fa-long-arrow-alt-right {
    position: absolute;
    top: 5px;
    left: 85px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.text__item_right {
    flex-direction: row-reverse;
}

.text__inner_right {
    text-align: right;
}

.fa {
    position: absolute;
    top: 5px;
    left: 0;
    right: 15px;
    bottom: 0;
    margin: auto;
}


/*gallery*/

.gallery__page {
    margin: 100px 0;
    text-align: center;
}

.gallery__title {
    color: #000000;
    font-size: 35px;
    font-weight: 300;
    line-height: 67.47px;
}

.gallery__title:after {
    content: "";
    display: block;
    height: 8px;
    width: 10%;
    margin: 0 auto;
    background-color: #0b96f3;
}

.gallery__inner {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
}

.gallery__img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


/*footer*/

.footer__page {
    background-color: #f9f8f8;
    padding: 20px 0;
    margin-top: 20px;
}

.footer__inner {
    display: flex;
    text-align: center;
}

.footer__item {
    width: 25%;
}

.contacts__number {
    color: #010101;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
}

.contacts__number:hover {
    text-decoration: underline;
}

.contacts__info {
    color: #0b96f3;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.1px
}

.contacts__info:hover {
    color: #1f5172;
}

.socials {
    margin: 20px auto;
}

.socials__item {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
}

.inn__info {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    font-weight: 500;
}

.fab:hover {
    transform: translateY(-5px);
}

.rights__link {
    color: #0b96f3;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
}

.rights__link:hover {
    color: #1f5172;
}

.rights__year {
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    line-height: 10px;
}

.hide {
    display: none
}

.burger {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
}

.burger__icon {
    display: none;
    max-width: 100%;
    height: auto;
}

.header__logo {
    position: relative;
}

.btn__up {
    position: fixed;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background: #333;
    z-index: 100;
    outline: 0;
    transition: all 0.4s linear;
    bottom: -40px;
    transition: 1s;
}

.btn__up:after {
    content: "";
    width: 15px;
    height: 15px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transform: rotate(-45deg);
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn__up:hover {
    transform: rotate(360deg);
}

.btn__up.active {
    bottom: 50px;
}

@media (max-width:1024px) {
    .logo__img {
        width: 140px;
        height: 49px;
    }
    .header__nav {
        display: flex;
        flex-direction: column;
        margin: 0px 0 0px 70px;
        padding-top: 20px;
    }
    .searchbox {
        margin-top: 20px;
        margin-left: 100px;
    }
    .company-inner__photo {
        width: 100%;
        justify-content: center;
    }
    .company-inner__text {
        width: 70%;
        align-items: center;
        margin: 40px auto 0;
    }
    .request__page {
        margin-left: 200px;
        margin-top: 260px;
        width: 50%;
    }
    .catalog__inner {
        margin-left: 450px;
        padding-top: 120px;
    }
    .information__page {
        margin: 500px 0 40px 0;
    }
    .text__photo {
        width: 30%;
    }
    .burger {
        display: none;
    }
}

@media (max-width:991px) {
    .company__subtitle {
        width: 70%;
        margin: 40px auto 0 auto;
    }
    .company-inner {
        margin-top: 10px;
    }
    .catalog__inner {
        margin-left: 0;
        padding-top: 20px;
        padding-left: 50px;
    }
    .information__page {
        margin: 450px 0 40px 0;
    }
    .login {
        width: 50%;
    }
    .text__photo {
        width: 35%;
    }
    .burger {
        display: none;
    }
}

@media (max-width:768px) {
    .searchbox__title {
        font-size: 20px;
        line-height: 50px;
    }
    .login {
        width: 100%;
    }
    .searchbox {
        margin-left: 0;
    }
    .searchbox__title_white {
        margin-left: 0;
    }
    .searchbox__title {
        line-height: 30px;
    }
    .login {
        width: 60%;
    }
    .company__subtitle {
        width: 60%;
    }
    .company-inner {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .company-inner__photo {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .company-inner__img {
        margin-bottom: 20px;
    }
    .types__item {
        width: 100%;
        flex-wrap: wrap;
    }
    .types__img {
        display: flex;
        margin: 0 auto;
    }
    .request__page {
        width: 40%;
    }
    .text__item {
        flex-wrap: wrap;
    }
    .text__photo {
        width: 100%;
    }
    .text__inner {
        width: 60%;
        margin: 20px auto;
    }
    .catalog__img {
        height: 300px;
        width: 250px;
        top: 100px;
    }
    .request__page {
        margin-left: 100px;
        width: 50%;
        margin-top: 230px;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__item {
        width: 100%;
    }
    .contacts__number {
        font-size: 15px;
    }
    .log-in__input {
        font-size: 11px;
    }
    .social {
        margin-top: 5px;
    }
    .contact {
        margin-top: 160px;
    }
    .contact__phone {
        font-size: 15px;
    }
    .contact__us {
        font-size: 17px;
    }
    .nav__link {
        font-size: 17px;
    }
    .burger {
        top: 20px;
        right: 0;
        z-index: 1000;
        color: #000;
    }
    /*burger menu*/
    .burger {
        display: block;
    }
    .header__nav {
        display: none;
    }
    .header__social {
        display: none
    }
    .header__contact {
        display: none
    }
    .burger__icon {
        display: block;
    }
    .nav__inner:hover:after {
        display: none;
    }
    .show {
        display: flex;
        z-index: 1000;
        width: 100%;
    }
    .fa-bars {
        font-size: 25px !important;
        color: #000;
    }
    .showing {
        margin-left: 80px;
        margin-top: 10px;
        display: flex;
        z-index: 1000;
        width: 100%;
    }
    .shows {
        display: flex;
        z-index: 1000;
        width: 100%;
        margin-top: -3px;
        margin-right: 0;
    }
    .contact__us {
        font-size: 14px;
        margin-top: -10px;
        margin-right: 50px;
    }
}

@media (max-width:490px) {
    .login {
        margin-left: 10px;
        width: 75%;
    }
    .login__title {
        font-size: 22px;
        line-height: 23px;
    }
    .company__title {
        font-size: 30px;
    }
    .company__subtitle {
        width: 70%;
    }
    .company__subtitle {
        font-size: 17px;
        width: 70%;
    }
    .company__page {
        margin: 100px 0 30px
    }
    .company-inner__img {
        margin-right: 0
    }
    .company-inner__text {
        font-size: 16px;
    }
    .services__title {
        font-size: 26px;
    }
    .types__item {
        width: 40%;
        margin: 0px 0 50px 0px;
    }
    .types__title {
        font-size: 20px;
    }
    .types__text {
        line-height: 20px;
        margin-top: 5px;
    }
    .log-in__title {
        font-size: 21px;
    }
    .log-in__btn {
        font-size: 12px;
    }
    .information__page {
        margin: 400px 0 40px 0;
    }
    .text__item {
        margin-top: 40px;
    }
    .information__title {
        font-size: 25px;
    }
    .text__description {
        font-size: 14px;
    }
    .text__title {
        font-size: 21px;
    }
    .gallery__page {
        margin: 80px 0;
    }
    .gallery__title {
        font-size: 30px;
    }
    .types__item {
        width: 100%;
    }
}

@media (max-width:375px) {
    .searchbox__title {
        font-size: 16px;
        line-height: 40px;
    }
    .company__title {
        font-size: 20px;
        line-height: 0;
    }
    .company__page {
        margin: 300px 0 20px 0;
    }
    .company__title::after {
        margin: 15px auto 0 auto;
    }
    .company__subtitle {
        width: 90%;
        font-size: 15px;
    }
    .company-inner__photo {
        margin-top: 30px;
    }
    .company-inner__img {
        margin-right: 0px;
    }
    .company__subtitle {
        margin: 20px auto 0 auto;
    }
    .company-inner__text {
        font-size: 15px;
        text-align: center;
    }
    .services__title {
        font-size: 22px;
    }
    .types__text {
        line-height: 22px;
        font-size: 15px;
    }
    .catalog__inner {
        font-size: 23px;
        line-height: 23px;
        padding-top: 30px;
    }
    .catalog__img {
        right: 105px;
        margin: 0;
    }
    .log-in__title {
        font-size: 17px;
        padding: 50px 0 30px 0;
    }
    .log-in__input {
        font-size: 9px;
    }
    .log-in__btn {
        font-size: 10px;
        padding: 10px;
    }
    .information__page {
        margin: 200px 0 20px 0;
    }
    .text__item {
        margin-top: 40px;
    }
    .information__title::after {
        width: 30%;
    }
    .information__title {
        font-size: 21px;
    }
    .text__title {
        color: #0b96f3;
        font-size: 22px;
    }
    .text__description {
        font-size: 13px;
        line-height: 22px;
    }
    .gallery__title {
        font-size: 22px;
    }
    .gallery__page {
        margin: 0;
    }
    .types__title {
        font-size: 18px;
        line-height: 25px;
    }
    .login__title {
        font-size: 20px;
        line-height: 30px;
        padding: 15px 5px;
    }
    .login {
        margin-left: 10px;
        width: 85%;
    }
    .login__btn {
        font-size: 13px;
    }
    .login__input {
        font-size: 9px;
    }
    .company__page {
        margin: 100px 0 20px 0;
    }
    .types__item {
        margin: 10px 0px 50px 0px;
    }
}

@media(max-width:320px) {
    .login__title {
        font-size: 14px;
        line-height: 21px;
    }
    .login__btn {
        font-size: 10px;
    }
    .company-inner__img {
        height: 215px;
        width: 200px;
    }
    .log-in__input {
        font-size: 7px;
    }
}